.footer_social-icon{
    height: 40px; width: 40px;
}

.desktop-one {
    background-color: var(--white_a700);
    width: 100%;
}

.stacktalclinic {
    height: 1278px;
    position: relative;
    @media only screen and (max-width: 1050px) {
        height: auto;
    }
}

.desktop-one_title {
    margin-top: 108px;
    margin-right: 40px;
    font-family: Inter !important;
    text-align: right;
    width: 30%;
    line-height: 154px;
    @media only screen and (max-width: 1050px) {
        margin-right: 0px;
    }
}
.desktop-one_title-span {
    font-family: Italianno;
    font-size: 140px;
    font-weight: 400;
}


.column_two {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    height: max-content;
    margin: auto;
}


.description_text-2 {
    width: 36%;
    line-height: 38px; position: absolute;
    right: 1px;
    top: 19%;
    margin: auto;
}
.description_text-3 {
    width: 40%;
    line-height: 38px;
    position: absolute;
    bottom: -1px;
    right: 1px;
    margin: auto;
}

.section content {
    background-color: var(--blue_gray_900_b7);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 46px;
    border-radius: var(--radius-md);
    border: 1px solid var(--blue_gray_900);
    @media only screen and (max-width: 1050px) {
        padding: 20px;
    }
}

.section_services_column-quaternary {
    gap: var(--space-md);
    display: flex;
    flex-direction: column;
    align-items: end;
}
.section_services_stack {
    height: 174px;
    align-self: stretch;
    position: relative;
    align-content: center;
    @media only screen and (max-width: 1050px) {
        height: auto;
    }
}
.section_services_image-quaternary {
    height: 174px;
    width: 174px;
    object-fit: cover;
    margin-left: auto;
    border-radius: var(--radius-md);
}


.section_services_image-quinary {
    height: 174px;
    width: 174px;
    object-fit: cover;
    position: absolute;
    right: 0px;
    bottom: 0px; top: 0px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: var(--radius-md);
}
.section_services_title-quaternary {
    margin-right: 12px;
    @media only screen and (max-width: 1050px) {
        margin-right: 0px;
    }
}
.section_services_column-quinary {
    gap: var(--space-xs);
    display: flex;
    flex-direction: column;
    align-items: end;
}
.section_services_title-senary {
    margin-right: 42px;
    @media only screen and (max-width: 1050px) {
        margin-right: 0px;
    }
}
.stack-1 {
    height: 760px;
    flex: 1;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    margin: auto;
}

.row-1 {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: auto; margin-bottom: auto;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    height: max-content;
    @media only screen and (max-width: 1050px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.services_list {
    background-color: var(--blue_gray_900_b7);
    padding: 44px 24px;
    border-radius: var(--radius-md);
    border: 1px solid var(--blue_gray_900);
    @media only screen and (max-width: 1050px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    @media only screen and (max-width: 550px) {
        padding: 20px;
    }
}


.services_item {
    margin-bottom: 4px; display: flex;
    justify-content: space-between; gap: 20px;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
    }
}
.services_description {
    gap: var(--space-xl);
    display: flex;
    flex-direction: column;
    align-items: start;
}
.services_title {
    font-family: Inter !important;
}
.services_prices {
    gap: var(--space-xl);
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: end;
    @media only screen and (max-width: 1050px) {
        align-self: stretch;
    }
}
.services_price-container {
    margin-left: 16px;
    margin-right: 40px;
    gap: var(--space-2xl);
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
    }
}


.services_separator { height: 1px; align-self: end;
    background-color: var(--white_a700);
    flex: 1;
    @media only screen and (max-width: 1050px) { align-self: stretch;
    }
    @media only screen and (max-width: 550px) {
        align-self: auto;
    }
}
.service_price-container-1 {
    gap: 28px;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
    }
}
.services_separator-1 {
    height: 1px;
    align-self: end;
    background-color: var(--white_a700);
    width: 82%;
    @media only screen and (max-width: 1050px) {
        align-self: auto;
    }
}

.service_price-2 {
    margin-right: 46px;
    @media only screen and (max-width: 1050px) {
        margin-right: 0px;
    }
}


.services_price-5 {
    margin-right: 28px;
    @media only screen and (max-width: 1050px) {
        margin-right: 0px;
    }
}